<app-user-header></app-user-header>
<div class="container d-flex">
  <div class="col-md-2 mt-4">
    <button color="primary" class="mb-3 w-100" (click)="refresh()" mat-raised-button>{{'allArticles' | translate}}</button>
    <div class="card" *ngIf="laboratories">
      <div class="card-header">{{'laboratory' | translate | uppercase}}</div>
      <mat-selection-list [multiple]="false" class="menu-list">
        <mat-list-option *ngFor="let l of laboratories._embedded.laboratories" (click)="getArticlesByLab(l)" [value]="l">
          {{l.name | translate | titlecase}}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="card mt-3" *ngIf="categories">
      <div class="card-header">{{'category' | translate | uppercase}}</div>
      <mat-selection-list [multiple]="false" class="menu-list">
        <mat-list-option *ngFor="let c of categories._embedded.categories" (click)="getArticlesByCat(c)" [value]="c">
          {{c.name | translate | titlecase}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="col-md-10 mt-1 m-3">
    <app-articles></app-articles>
  </div>
</div>


