<div class="container articles">
  <div class="search-bar" >
    <form #f='ngForm' (ngSubmit)="onChercher(f.value)">
      <mat-form-field appearance="fill" class="search-input">
        <mat-label>{{'search' | translate}}</mat-label>
        <input type="text" name="keyword" matInput ngModel>
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="grid-container article-items" *ngIf="articles">
    <div style="" *ngFor="let a of articles._embedded.articles" class="">
      <div class="card article-card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.resourceService.host+'/photoArticle/'+a.id}}" alt="Article image">
        <div class="card-body">
          <h5 class="card-title">{{a.name}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-light" routerLink="{{'/article/'+a.id}}">détails ></a>
        </div>
      </div>
    </div>

  </div>
</div>

